.codeception/_output/
.idea/
.yarn
assets/css/*.min.css
assets/css/*.min.css.map
assets/js/apps/
assets/js/*.min.js
assets/js/*.min.js.map
assets/*.svg
node_modules/
vendor/

*.lock
.DS_Store
.phpcs.cache
Thumbs.db
