.codeception/_output/
.idea/
.yarn/
assets/css/*.min.css
assets/css/*.min.css.map
assets/js/apps/
assets/js/**/*.min.js
assets/js/**/*.min.js.map
coverage/
node_modules/
vendor/

*.lock
!yarn.lock
.DS_Store
.phpcs.cache
package-lock.json
Thumbs.db
