#hcaptcha-message,
#setting-error-settings_updated {
	max-width: 760px;
	box-sizing: border-box;
}

.hcaptcha-loading::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 9999;
}

.hcaptcha-loading::after {
	content: '';
	position: absolute;
	top: calc(50% - 18px);
	left: calc(50% - 18px);
	width: 28px;
	height: 28px;
	border: 4px solid #ccc;
	border-top: 4px solid #5c6f8a;
	border-radius: 50%;
	animation: hcaptcha-spin 1s linear infinite;
	z-index: 10000;
}

@keyframes hcaptcha-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#hcaptcha-options table tbody {
	background: #fff;
}

#hcaptcha-options table tbody tr {
	display: grid;
	align-self: start;
}

#hcaptcha-options table tbody tr th {
	color: #5c6f8a;
}

#hcaptcha-options table tbody tr td {
	padding: 0;
	margin: 0;
	position: relative;
}

#hcaptcha-options .h-captcha {
	margin-bottom: 0;
}

#hcaptcha-options.hcaptcha-general h3 {
	display: flex;
	justify-content: space-between;
	max-width: 760px;
	background: white;
	box-sizing: border-box;
	padding: 15px 20px;
	margin: 1.5em 0 0;
	color: #5c6f8a;
	cursor: pointer;
}

#hcaptcha-options.hcaptcha-general h3.disabled {
	opacity: 0.6;
}

.hcaptcha-section-header-toggle:after {
	content: "\f142";
	font: normal 20px dashicons;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h3.closed .hcaptcha-section-header-toggle:after {
	content: "\f140";
}

#hcaptcha-options.hcaptcha-general h3 + table {
	position: relative;
	max-width: 760px;
	margin-top: 0;
}

#hcaptcha-options.hcaptcha-general h3.disabled + table {
	opacity: 0.6;
}

#hcaptcha-options.hcaptcha-general h3.closed + table {
	display: none;
}

#hcaptcha-options.hcaptcha-general h3 + table:before {
	content: '';
	position: absolute;
	top: 0;
	width: calc(100% - 40px);
	max-width: 720px;
	margin: 0 20px;
	border-bottom: 1px solid #c3c4c7;
}

/* Section Keys */
.hcaptcha-section-keys + table tbody {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"site-key site-key secret-key secret-key"
		"sample-hcaptcha sample-hcaptcha check-config reset-notifications";
	gap: 10px 20px;
	padding: 15px 20px;
}

.hcaptcha-section-keys + table tbody th {
	width: auto;
}

.hcaptcha-section-keys + table tbody tr.hcaptcha-general-site-key {
	grid-area: site-key;
}

.hcaptcha-section-keys + table tbody tr.hcaptcha-general-secret-key {
	grid-area: secret-key;
}

.hcaptcha-section-keys + table tbody tr.hcaptcha-general-sample-hcaptcha {
	grid-area: sample-hcaptcha;
}

.hcaptcha-section-keys + table tbody tr.hcaptcha-general-check-config {
	grid-area: check-config;
}

.hcaptcha-section-keys + table tbody tr.hcaptcha-reset-notifications {
	grid-area: reset-notifications;
}

.hcaptcha-section-keys + table tbody tr th {
	padding: 0 0 10px 0;
}

.hcaptcha-section-keys + table tbody tr td input {
	width: 100%;
}

/* Section Appearance */
.hcaptcha-section-appearance + table tbody {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"theme size language mode"
		"force force position position";
	gap: 10px 20px;
	padding: 15px 20px;
}

.hcaptcha-section-appearance + table tbody tr.hcaptcha-general-theme {
	grid-area: theme;
}

.hcaptcha-section-appearance + table tbody tr.hcaptcha-general-size {
	grid-area: size;
}

.hcaptcha-section-appearance + table tbody tr.hcaptcha-general-language {
	grid-area: language;
}

.hcaptcha-section-appearance + table tbody tr.hcaptcha-general-mode {
	grid-area: mode;
}

.hcaptcha-section-appearance + table tbody tr.hcaptcha-general-force {
	grid-area: force;
}

.hcaptcha-section-appearance + table tbody tr.hcaptcha-general-menu-position {
	grid-area: position;
}

.hcaptcha-section-appearance + table tbody tr th {
	padding: 0 0 10px 0;
	width: auto;
}

.hcaptcha-section-appearance + table tbody tr.hcaptcha-general-force td {
	width: max-content;
}

.hcaptcha-section-appearance + table tbody tr.hcaptcha-general-menu-position td {
	width: max-content;
}

.hcaptcha-section-appearance + table tbody tr td select {
	width: 100%;
}

/* Section Custom */
.hcaptcha-section-custom + table tbody {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"custom-themes custom-themes config-params config-params"
		"custom-prop custom-value config-params config-params";
	gap: 10px 20px;
	padding: 15px 20px;
}

.hcaptcha-section-custom + table tbody tr.hcaptcha-general-custom-themes {
	grid-area: custom-themes;
}

.hcaptcha-section-custom + table tbody tr.hcaptcha-general-config-params {
	grid-area: config-params;
}

.hcaptcha-section-custom + table tbody tr.hcaptcha-general-custom-prop {
	grid-area: custom-prop;
}

.hcaptcha-section-custom + table tbody tr.hcaptcha-general-custom-value {
	grid-area: custom-value;
}

.hcaptcha-section-custom + table tbody tr th {
	padding: 0 0 10px 0;
	width: auto;
}

.hcaptcha-section-custom + table tbody tr.hcaptcha-general-custom-themes td {
	width: max-content;
}

.hcaptcha-section-custom + table tbody tr.hcaptcha-general-config-params td {
	width: auto;
}

.hcaptcha-section-custom + table tbody tr td textarea {
	width: 100%;
}

.hcaptcha-section-custom + table tbody tr td select {
	width: 100%;
}

.hcaptcha-section-custom + table tbody tr td select option:disabled {
	background: #f0f0f1;
	color: #2c3338
}

.hcaptcha-section-custom + table tbody tr td input {
	width: 100%;
	height: 30px;
}

/* Section Enterprise */
.hcaptcha-section-enterprise + table tbody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px 20px;
	padding: 15px 20px;
}

.hcaptcha-section-enterprise + table tbody th {
	width: auto;
}

.hcaptcha-section-enterprise + table tbody tr th {
	padding: 0 0 10px 0;
}

.hcaptcha-section-enterprise + table tbody tr td input {
	width: 100%;
}

/* Section Protect Content */
.hcaptcha-section-content + table tbody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"content protected-urls";
	gap: 0 20px;
	padding: 15px 20px;
}

.hcaptcha-section-content + table tbody tr.hcaptcha-general-content {
	grid-area: content;
}

.hcaptcha-section-content + table tbody tr.hcaptcha-general-protected-urls {
	grid-area: protected-urls;
}

.hcaptcha-section-content + table tbody tr th {
	padding: 0 0 10px 0;
	width: auto;
}

.hcaptcha-section-content + table tbody tr td {
	width: max-content;
}

.hcaptcha-section-content + table tbody tr.hcaptcha-general-protected-urls td {
	width: auto;
}

.hcaptcha-section-content + table tbody tr td textarea,
.hcaptcha-section-content + table tbody tr td input {
	width: 100%;
}

/* Section Anti-spam */
.hcaptcha-section-antispam + table tbody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"set-min-submit-time min-submit-time"
		"honeypot min-submit-time"
		"antispam antispam-provider";
	gap: 0 20px;
	padding: 15px 20px;
}

.hcaptcha-section-antispam + table tbody tr.hcaptcha-general-set-min-submit-time {
	grid-area: set-min-submit-time;
}

.hcaptcha-section-antispam + table tbody tr.hcaptcha-general-min-submit-time {
	grid-area: min-submit-time;
}

.hcaptcha-section-antispam + table tbody tr.hcaptcha-general-honeypot {
	grid-area: honeypot;
}

.hcaptcha-section-antispam + table tbody tr.hcaptcha-general-antispam {
	grid-area: antispam;
	padding-top: 15px;
}

.hcaptcha-section-antispam + table tbody tr.hcaptcha-general-antispam-provider {
	grid-area: antispam-provider;
	padding-top: 15px;
}

.hcaptcha-section-antispam + table tbody tr.hcaptcha-general-antispam-provider div {
	color: #d63638;
	margin-top: 0.5em;
}

.hcaptcha-section-antispam + table tbody tr th {
	padding: 0 0 10px 0;
	width: auto;
}

.hcaptcha-section-antispam + table tbody tr td {
	width: max-content;
}

.hcaptcha-section-antispam + table tbody tr.hcaptcha-general-min-submit-time td,
.hcaptcha-section-antispam + table tbody tr.hcaptcha-general-antispam-provider td {
	width: auto;
}

.hcaptcha-section-antispam + table tbody tr td input,
.hcaptcha-section-antispam + table tbody tr td select {
	width: 100%;
}

.hcaptcha-section-antispam + table tbody tr.hcaptcha-general-honeypot th {
	padding: 0;
}

.hcaptcha-section-antispam + table tbody tr td input {
	width: 100%;
}

/* Section Other */
.hcaptcha-section-other + table tbody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"blacklisted whitelisted"
		"logged recaptcha"
		"hide-login-errors cleanup-on-uninstall"
		"network ."
		"login-limit login-interval"
		"delay .";
	gap: 0 20px;
	padding: 15px 20px;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general-off-when-logged-in {
	grid-area: logged;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general-recaptcha-compat-off {
	grid-area: recaptcha;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general-hide-login-errors {
	grid-area: hide-login-errors;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general-cleanup-on-uninstall {
	grid-area: cleanup-on-uninstall;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general-login-limit {
	grid-area: login-limit;
	padding-top: 15px;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general-login-interval {
	grid-area: login-interval;
	padding-top: 15px;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general-whitelisted-ips {
	grid-area: whitelisted;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general--network-wide {
	grid-area: network;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general-delay {
	grid-area: delay;
	padding-top: 15px;
}

.hcaptcha-section-other + table tbody tr th {
	padding: 0 0 10px 0;
	width: auto;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general-off-when-logged-in th,
.hcaptcha-section-other + table tbody tr.hcaptcha-general-recaptcha-compat-off th,
.hcaptcha-section-other + table tbody tr.hcaptcha-general-hide-login-errors th,
.hcaptcha-section-other + table tbody tr.hcaptcha-general-cleanup-on-uninstall th,
.hcaptcha-section-other + table tbody tr.hcaptcha-general--network-wide th {
	padding: 0;
}

.hcaptcha-section-other + table tbody tr td {
	width: max-content;
}

.hcaptcha-section-other + table tbody tr.hcaptcha-general-blacklisted-ips td,
.hcaptcha-section-other + table tbody tr.hcaptcha-general-whitelisted-ips td,
.hcaptcha-section-other + table tbody tr.hcaptcha-general-login-limit td,
.hcaptcha-section-other + table tbody tr.hcaptcha-general-login-interval td,
.hcaptcha-section-other + table tbody tr.hcaptcha-general-delay td {
	width: auto;
}

.hcaptcha-section-other + table tbody tr td textarea,
.hcaptcha-section-other + table tbody tr td input {
	width: 100%;
}

/* Section Statistics */
.hcaptcha-section-statistics + table tbody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"statistics collect-ip"
		"anonymous collect-ua";
	gap: 0 20px;
	padding: 15px 20px;
}

.hcaptcha-section-statistics + table tbody tr.hcaptcha-general-statistics {
	grid-area: statistics;
}

.hcaptcha-section-statistics + table tbody tr.hcaptcha-general-anonymous {
	grid-area: anonymous;
}

.hcaptcha-section-statistics + table tbody tr.hcaptcha-general-collect-ip {
	grid-area: collect-ip;
}

.hcaptcha-section-statistics + table tbody tr.hcaptcha-general-collect-ua {
	grid-area: collect-ua;
}

.hcaptcha-section-statistics + table tbody tr th {
	padding: 0 0 10px 0;
	width: auto;
}

.hcaptcha-section-statistics + table tbody tr.hcaptcha-general-anonymous th,
.hcaptcha-section-statistics + table tbody tr.hcaptcha-general-collect-ua th {
	padding: 0;
}

.hcaptcha-section-statistics + table tbody tr td {
	width: max-content;
}

@media (max-width: 600px) {
	.hcaptcha-section-keys + table tbody {
		grid-template-columns: repeat(2, 1fr) !important;
		grid-template-areas:
		"site-key site-key"
		"secret-key secret-key"
		"sample-hcaptcha sample-hcaptcha"
		"check-config reset-notifications";
	}

	.hcaptcha-section-appearance + table tbody {
		grid-template-columns: repeat(2, 1fr) !important;
		grid-template-areas:
		"theme size"
		"language mode"
		"force force"
		"position position";
	}

	.hcaptcha-section-appearance + table tbody tr td {
		width: unset !important;
	}

	.hcaptcha-section-custom + table tbody {
		grid-template-columns: repeat(2, 1fr) !important;
		grid-template-areas:
		"custom-themes custom-themes"
		"custom-prop custom-value"
		"config-params config-params";
	}

	.hcaptcha-section-custom + table tbody tr td {
		width: unset !important;
	}

	.hcaptcha-section-enterprise + table tbody {
		grid-template-columns: repeat(1, 1fr) !important;
	}

	.hcaptcha-section-enterprise + table tbody tr td {
		width: unset !important;
	}

	.hcaptcha-section-content + table tbody {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
		"content"
		"protected-urls";
	}

	.hcaptcha-section-content + table tbody tr td {
		width: unset !important;
	}

	.hcaptcha-section-antispam + table tbody {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
		"antispam"
		"antispam-provider";
	}

	.hcaptcha-section-antispam + table tbody tr td {
		width: unset !important;
	}

	.hcaptcha-section-other + table tbody {
		grid-template-columns: repeat(1, 1fr) !important;
		grid-template-areas:
		"blacklisted"
		"whitelisted"
		"logged"
		"recaptcha"
		"hide-login-errors"
		"cleanup-on-uninstall"
		"network"
		"login-limit"
		"login-interval"
		"delay";
	}

	.hcaptcha-section-other + table tbody tr.hcaptcha-general-whitelisted-ips,
	.hcaptcha-section-other + table tbody tr.hcaptcha-general-off-when-logged-in {
		padding-top: 10px;
	}

	.hcaptcha-section-other + table tbody tr td {
		width: unset !important;
	}

	.hcaptcha-section-statistics + table tbody {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
		"statistics"
		"anonymous"
		"collect-ip"
		"collect-ua";
	}

	.hcaptcha-section-statistics + table tbody tr td {
		width: unset !important;
	}
}
