.hcaptcha-integrations-success,
.hcaptcha-integrations-error {
	background: #fff;
	box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
	margin: 5px 0 15px 0;
	padding: 1px 12px;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
}

#hcaptcha-integrations-message p {
	font-size: 13px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0.7em 0;
}

.hcaptcha-integrations-success {
	border-left-color: #00a32a;
}

.hcaptcha-integrations-error {
	border-left-color: #d63638;
}

.hcaptcha-integrations table tbody {
	display: grid;
	grid-template-columns: repeat(4, minmax(100px, 1fr));
	gap: 10px 20px;
}

.hcaptcha-integrations table tr {
	background: #fff;
	padding: 10px 20px;
}

.hcaptcha-integrations table tr th {
	font-size: 16px;
	height: 28px;
	padding: 5px 0 0;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: unset;
}

.hcaptcha-integrations-logo {
	position: relative;
}

.hcaptcha-integrations table tr th .hcaptcha-integrations-logo {
	height: 28px;
	cursor: pointer;
}

.hcaptcha-integrations table tr th .hcaptcha-integrations-logo:hover::before {
	content: '';
	position: absolute;
	top: 0;
	width: 4px;
	bottom: 0;
	left: -14px;
}

.hcaptcha-integrations > table tr th .hcaptcha-integrations-logo:hover::before {
	background-color: #d63638;
}

.hcaptcha-integrations > table ~ table tr th .hcaptcha-integrations-logo:hover::before {
	background-color: #00a32a;
}

.hcaptcha-integrations table tr th img {
	max-width: 100%;
	max-height: 28px;
}

.hcaptcha-integrations table tr.hcaptcha-integrations-wp-status th .hcaptcha-integrations-logo,
.hcaptcha-integrations table tr.hcaptcha-integrations-avada-status th .hcaptcha-integrations-logo,
.hcaptcha-integrations table tr.hcaptcha-integrations-divi-status th .hcaptcha-integrations-logo {
	cursor: unset;
}

.hcaptcha-integrations table tr.hcaptcha-integrations-wp-status th .hcaptcha-integrations-logo:hover::before,
.hcaptcha-integrations table tr.hcaptcha-integrations-avada-status th .hcaptcha-integrations-logo:hover::before,
.hcaptcha-integrations table tr.hcaptcha-integrations-divi-status th .hcaptcha-integrations-logo:hover::before {
	display: none;
}

.hcaptcha-integrations table tr td {
	padding: 0;
	margin: 0;
}

.hcaptcha-disabled-section {
	margin: 20px 0;
}

@media (max-width: 1279px) {
	.hcaptcha-integrations table tbody {
		grid-template-columns: repeat(3, minmax(100px, 1fr));
	}
}

@media (max-width: 1023px) {
	.hcaptcha-integrations table tbody {
		grid-template-columns: repeat(2, minmax(100px, 1fr));
	}
}
