.hcaptcha-integrations table tbody {
	display: grid;
	grid-template-columns: repeat(4, minmax(100px, 1fr));
	gap: 10px 20px;
}

.hcaptcha-integrations table tr {
	position: relative;
	background: #fff;
	padding: 10px 20px;
}

.hcaptcha-integrations table tr:before {
	visibility: hidden;
	position: absolute;
	content: '';
	top: 0;
	inset-inline-start: 0;
	inset-inline-end: 0;
	bottom: 0;
	background-color: #f0f0f0;
	opacity: 0;
	transition: all 1.5s;
}

.hcaptcha-integrations table tr.install:before,
.hcaptcha-integrations table tr.on:before,
.hcaptcha-integrations table tr.off:before {
	visibility: visible;
	opacity: 0.7;
	transition: all 1.5s;
}

.hcaptcha-integrations table tr:after {
	visibility: hidden;
	position: absolute;
	content: '';
	top: 0;
	inset-inline-start: 0;
	inset-inline-end: 0;
	bottom: 0;
	opacity: 0;
	transition: all 1.5s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 80%;
	background-image: url( '../images/spinner-white.svg' );
}

.hcaptcha-integrations table tr.install:after,
.hcaptcha-integrations table tr.on:after,
.hcaptcha-integrations table tr.off:after {
	visibility: visible;
	opacity: 1;
	transition: all 1.5s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 80%;
}

.hcaptcha-integrations table tr.install:after {
	background-image: url( '../images/spinner-gold.svg' );
}

.hcaptcha-integrations table tr.on:after {
	background-image: url( '../images/spinner-green.svg' );
}

.hcaptcha-integrations table tr.off:after {
	background-image: url( '../images/spinner-red.svg' );
}

.hcaptcha-integrations table tr th {
	font-size: 16px;
	height: 28px;
	padding: 5px 0 0;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: unset;
}

.hcaptcha-integrations table tr .hcaptcha-integrations-entity {
	color: #ffffff;
	background: #4de1d2;
	border: 1px #4de1d2 solid;
	border-radius: 2px;
	font-size: 14px;
	line-height: 18px;
	padding: 4px 8px;
	cursor: default;
}

.hcaptcha-integrations-logo {
	position: relative;
}

.hcaptcha-integrations table tr th .hcaptcha-integrations-logo {
	height: 28px;
	cursor: pointer;
}

.hcaptcha-integrations table tr th .hcaptcha-integrations-logo:hover::before {
	content: '';
	position: absolute;
	top: 0;
	width: 4px;
	bottom: 0;
	inset-inline-start: -14px;
}

.hcaptcha-integrations > table ~ table tr th .hcaptcha-integrations-logo:hover::before {
	background-color: #00a32a;
}

.hcaptcha-integrations > table tr th .hcaptcha-integrations-logo:hover::before {
	background-color: #d63638;
}

.hcaptcha-integrations > table ~ table tr th .hcaptcha-integrations-logo[data-installed="false"]:hover::before {
	background-color: #dba617;
}

.hcaptcha-integrations table tr th img {
	max-width: 100%;
	max-height: 28px;
}

.hcaptcha-integrations table tr.hcaptcha-integrations-wp-status th .hcaptcha-integrations-logo {
	cursor: unset;
}

.hcaptcha-integrations table tr.hcaptcha-integrations-wp-status th .hcaptcha-integrations-logo:hover::before {
	display: none;
}

.hcaptcha-integrations table tr td {
	padding: 0;
	margin: 0;
}

.hcaptcha-disabled-section {
	margin: 20px 0;
}

.hcaptcha-integrations table.form-table + p.submit {
	padding: 10px 0 0 0;
}

#hcaptcha-integrations-search-wrap {
	position: relative;
}

#hcaptcha-integrations-search-wrap:before {
	content: '';
	background: url( '../images/magnifying-glass.svg' );
	background-size: contain;
	width: 16px;
	height: 16px;
	font-size: 16px;
	text-align: center;
	position: absolute;
	inset-inline-start: 10px;
	top: 50%;
	transform: translateY(-50%);
}

#hcaptcha-integrations-search {
	width: 230px;
	padding-block-start: 1px;
	padding-inline-end: 8px;
	padding-block-end: 1px;
	padding-inline-start: 32px;
}

@media (max-width: 1279px) {
	.hcaptcha-integrations table tbody {
		grid-template-columns: repeat(3, minmax(100px, 1fr));
	}
}

@media (max-width: 1023px) {
	.hcaptcha-integrations table tbody {
		grid-template-columns: repeat(2, minmax(100px, 1fr));
	}
}

@media (max-width: 782px) {
	#hcaptcha-integrations-search {
		font-size: 14px;
		min-height: unset;
	}
}

/* KAGG Dialog hCaptcha styles */
body div.kagg-dialog {
	--color-activate: #00a32a;
	--color-deactivate: #d63638;
	--color-install: #dba617;
}

body div.kagg-dialog.activate .kagg-dialog-container .kagg-dialog-box {
	color: var(--color-activate);
}

body div.kagg-dialog.activate .kagg-dialog-container .kagg-dialog-box .kagg-dialog-buttons button.btn-ok {
	background: var(--color-activate);
	color: #ffffff
}

body div.kagg-dialog.deactivate .kagg-dialog-container .kagg-dialog-box {
	color: var(--color-deactivate);
}

body div.kagg-dialog.deactivate .kagg-dialog-container .kagg-dialog-box .kagg-dialog-buttons button.btn-ok {
	background: var(--color-deactivate);
	color: #ffffff
}

body div.kagg-dialog.install .kagg-dialog-container .kagg-dialog-box {
	color: var(--color-install);
}

body div.kagg-dialog.install .kagg-dialog-container .kagg-dialog-box .kagg-dialog-buttons button.btn-ok {
	background: var(--color-install);
	color: #ffffff
}
