.hcaptcha-logo {
	width: 235px;
	margin: 10px 0;
}

.hcaptcha-settings-tabs {
	line-height: 4.5em;
	background: #fff;
	margin: 10px -20px 0 -20px;
	padding: 0 20px;
}

.hcaptcha-settings-tab {
	display: inline-block;
	font-size: 1.1em;
	text-decoration: none;
	margin-right: 30px;
	color: #646970;
	border-bottom: 2px solid transparent;
}

.hcaptcha-settings-tab:hover {
	color: #666;
	border-color: #646970;
	border-bottom: 2px solid;
}

.hcaptcha-settings-tab.active {
	border-bottom: 2px solid #4f94d4;
}

.hcaptcha-general h2, .hcaptcha-integrations h2 {
	font-size: 1.5em;
}

.hcaptcha-integrations table tbody {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px 20px;
	justify-content: space-between;
}

.hcaptcha-integrations table tr {
	background: #fff;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	flex: auto;
}

.hcaptcha-integrations table tr th {
	font-size: 16px;
	padding: 5px 0 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hcaptcha-integrations table tr th img {
	height: 28px;
}

.hcaptcha-integrations table tr td {
	padding: 0;
	margin: 0;
}

.hcaptcha-integrations table tr td input[type="checkbox"] {
	display: inline;
	border: none;
	box-shadow: none;
	margin: 0 4px 0 0;
	min-width: 0;
	width: 0;
}

.hcaptcha-integrations table tr td input[type="checkbox"]::before {
	background: no-repeat url('../images/checkbox-off.svg');
	margin: 0;
	width: 2.4792rem;
	height: 1.3125rem;
	content: '';
	display: inline-block;
	float: left;
}

.hcaptcha-integrations table tr td input[type="checkbox"]:checked::before {
	background: no-repeat url('../images/checkbox-on.svg');
}

fieldset:disabled {
	color: #dadada;
}

.hcaptcha-disabled-section {
	margin: 20px 0;
}

@media (max-width: 782px) {
	.hcaptcha-integrations table tbody {
		flex-direction: column;
	}
}
