body.settings_page_hcaptcha {
	background: #f0f2f5;
	color: #5c6f8a;
}

.wrap h1.hcaptcha-settings-header {
	font-size: 34px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.hcaptcha-logo {
	height: 64px;
	margin: 10px 5px 10px 0;
}

.hcaptcha-settings-tabs {
	line-height: 4.5em;
	background: #fff;
	margin: 10px -20px 0 -20px;
	padding: 0 20px;
}

.hcaptcha-settings-tab {
	display: inline-block;
	font-size: 1.1em;
	text-decoration: none;
	margin-right: 30px;
	color: #646970;
	border-bottom: 2px solid transparent;
}

.hcaptcha-settings-tab:hover {
	color: #666;
	border-bottom-color: #025176 !important;
	border-bottom: 2px solid;
}

.hcaptcha-settings-tab.active {
	border-bottom: 2px solid #0075ab;
}

#hcaptcha-options h2 {
	font-size: 1.5em;
	color: #5c6f8a;
}

#hcaptcha-options h3 {
	margin: 1.5em 0 1em;
	color: #5c6f8a;
}

#hcaptcha-options .notice-dismiss:before {
	color: #5c6f8a;
}

#hcaptcha-options table tbody tr td {
	padding: 0;
	margin: 0;
	position: relative;
}

#hcaptcha-options table tr td input[type="checkbox"] {
	display: inline;
	border: none;
	box-shadow: none;
	margin: 0 4px 0 0;
	min-width: 0;
	width: 0;
}

#hcaptcha-options table tr td input[type="checkbox"]::before {
	background: no-repeat url('../images/checkbox-off.svg');
	margin: 0;
	width: 2.4792rem;
	height: 1.3125rem;
	content: '';
	display: inline-block;
	float: left;
}

#hcaptcha-options table tr td input[type="checkbox"]:checked::before {
	background: no-repeat url('../images/checkbox-on.svg');
}

#hcaptcha-options fieldset:disabled {
	color: #dadada;
}

#hcaptcha-options .button-primary {
	background-color: #026593;
	color: #ffffff;
	border-color: #026593;
}

#hcaptcha-options .button-primary:hover {
	background-color: #025176;
}

#hcaptcha-options .button-secondary {
	background-color: #ffffff;
	color: #026593;
	border-color: #026593;
}

#hcaptcha-options .button-secondary:hover {
	background-color: #cccccc;
}

#hcaptcha-options a {
	color: #0075ab;
}

#hcaptcha-navigation a {
	border-color: #0075ab;
}

#hcaptcha-options a.hcaptcha-settings-tab {
	color: #5c6f8a;
}

/* Helper */
#hcaptcha-options .helper::before {
	content: '?';
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(0, -26px);
	background: #5c6f8a;
	color: #fff;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	border-radius: 1.2em;
}

#hcaptcha-options fieldset + .helper::before {
	transform: translate(25px, -0.8em);
	top: 50%;
}

#hcaptcha-options .helper .helper-content {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(1px, 10px);
	background: #5c6f8a;
	color: #f0f2f5;
	padding: 0.5em 1em;
	width: 100%;
	box-sizing: border-box;
}

#hcaptcha-options fieldset + .helper .helper-content {
	top: 50%;
	transform: translate(25px, 25px);
	width: calc(100% + 25px);
}

#hcaptcha-options .helper:hover {
	cursor: help;
}

#hcaptcha-options .helper:hover .helper-content {
	display: block;
	z-index: 1;
}

#hcaptcha-options .helper .helper-content::after {
	content: '';
	border: solid 10px transparent;
	border-bottom-color: #5c6f8a;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(-100%);
}

#hcaptcha-options .helper .helper-content a {
	color: #fff;
}

#hcaptcha-message {
	z-index: 1;
}

#hcaptcha-message p {
	font-size: 13px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0.5em 0;
}

@media (max-width: 600px) {
	#hcaptcha-options table tbody {
		grid-template-columns: 1fr;
	}

	#hcaptcha-options table tbody tr {
		position: relative;
	}

	#hcaptcha-options fieldset + .helper::before {
		transform: translate(0px, -0.7em);
	}

	#hcaptcha-options fieldset + .helper .helper-content {
		transform: translate(0, 25px);
		width: 100%;
	}

	#hcaptcha-options .helper {
		z-index: 1;
	}
}
