#toplevel_page_hcaptcha img {
	width: 20px;
	filter: grayscale(1);
}

#toplevel_page_hcaptcha.wp-menu-open img {
	filter: grayscale(0);
}

.kagg-settings-menu-image {
	position: absolute;
	width: 20px;
}

.kagg-settings-menu-title {
	margin-inline-start: 28px;
}
