body.settings_page_hcaptcha {
	background: #f0f2f5;
	color: #5c6f8a;
}

.wrap h1.hcaptcha-settings-header {
	font-size: 34px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.hcaptcha-logo {
	height: 64px;
	margin-block-start: 10px;
	margin-inline-end: 5px;
	margin-block-end: 10px;
	margin-inline-start: 0;
}

.hcaptcha-settings-tabs {
	position: sticky;
	top: 0;
	z-index: 2; /* +1 to .hcaptcha-header bar z-index, to overlap a bit */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	line-height: 4.5em;
	background: #fff;
	margin: 10px -20px 0 -20px;
	padding: 0 20px;
}

.hcaptcha-settings-tab {
	display: inline-block;
	font-size: 1.1em;
	text-decoration: none;
	margin-inline-end: 30px;
	color: #646970;
	border-bottom: 2px solid transparent;
}

.hcaptcha-settings-tab:hover {
	color: #666;
	border-bottom-color: #025176 !important;
	border-bottom: 2px solid;
}

.hcaptcha-settings-tab.active {
	border-bottom: 2px solid #0075ab;
}

.hcaptcha-header-bar {
	position: sticky;
	top: 60px;
	z-index: 2;
	background: #f0f2f5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -20px;
	padding: 0 20px;
}

#hcaptcha-options h2 {
	font-size: 1.5em;
	color: #5c6f8a;
}

#hcaptcha-options h2 ~ * {
	display: none;
}

#hcaptcha-options h3 {
	margin: 1.5em 0 1em;
	color: #5c6f8a;
}

#hcaptcha-options .notice-dismiss:before {
	color: #5c6f8a;
}

#hcaptcha-options table tbody tr td {
	padding: 0;
	margin: 0;
	position: relative;
}

#hcaptcha-options table tr td fieldset input[type="checkbox"] {
	display: inline;
	border: none;
	box-shadow: none;
	width: 2.3611rem;
	height: 1.25rem;
	margin-block-start: -0.125rem;
	margin-inline-end: 0.5rem;
	margin-block-end: 0;
	margin-inline-start: 0;
}

#hcaptcha-options table tr td fieldset input[type="checkbox"]::before {
	background: url('../images/checkbox-off.svg');
	background-size: cover;
	margin: 0;
	width: 2.3611rem;
	height: 1.25rem;
	content: '';
	display: inline-block;
}

#hcaptcha-options table tr td fieldset input[type="checkbox"]:checked::before {
	background: no-repeat url('../images/checkbox-on.svg');
	background-size: cover;
}

#hcaptcha-options fieldset:disabled {
	color: #dadada;
}

#hcaptcha-options .button-primary {
	background-color: #026593;
	color: #ffffff;
	border-color: #026593;
}

#hcaptcha-options .button-primary:hover {
	background-color: #025176;
}

#hcaptcha-options .button-secondary {
	background-color: #ffffff;
	color: #026593;
	border-color: #026593;
}

#hcaptcha-options .button-secondary:hover {
	background-color: #cccccc;
}

#hcaptcha-options a {
	color: #0075ab;
}

#hcaptcha-navigation a {
	border-color: #0075ab;
}

#hcaptcha-options a.hcaptcha-settings-tab {
	color: #5c6f8a;
}

/* Helper */
#hcaptcha-options .helper::before {
	content: '?';
	position: absolute;
	inset-inline-end: 0;
	top: 0;
	transform: translate(0, -27px);
	background: #5c6f8a;
	color: #fff;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	border-radius: 1.2em;
}

#hcaptcha-options fieldset + .helper::before {
	transform: translate(25px, -0.7em);
	top: 50%;
}

.rtl #hcaptcha-options fieldset + .helper::before {
	transform: translate(-25px, -0.8em);
}

#hcaptcha-options .helper .helper-content {
	display: none;
	position: absolute;
	top: 0;
	inset-inline-end: 0;
	transform: translate(1px, 10px);
	background: #5c6f8a;
	color: #f0f2f5;
	padding: 0.5em 1em;
	width: 100%;
	box-sizing: border-box;
}

.rtl #hcaptcha-options .helper .helper-content {
	transform: translate(-1px, 10px);
}

#hcaptcha-options fieldset + .helper .helper-content {
	top: 50%;
	transform: translate(25px, 25px);
	width: calc(100% + 25px);
}

#hcaptcha-options .helper:hover {
	cursor: help;
}

#hcaptcha-options .helper:hover .helper-content {
	display: block;
	z-index: 1;
}

#hcaptcha-options .helper .helper-content::after {
	content: '';
	border: solid 10px transparent;
	border-bottom-color: #5c6f8a;
	position: absolute;
	top: 0;
	inset-inline-end: 0;
	transform: translateY(-100%);
}

#hcaptcha-options .helper .helper-content a {
	color: #fff;
}

#hcaptcha-message {
	box-sizing: border-box;
}

#hcaptcha-message > p {
	font-size: 13px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0.5em 0;
}

@keyframes blink {
	0% {opacity: 1;}
	16.7% {opacity: 0;}
	33.3% {opacity: 1;}
	50% {opacity: 0;}
	66.7% {opacity: 1;}
	83.3% {opacity: 0;}
	100% {opacity: 1;}
}

.blink {
	animation: blink 3s linear;
}

.hcaptcha-hide {
	display: none;
}

.hcaptcha-excerpt {
	display: block;
	position: relative;
	width: max-content;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.hcaptcha-excerpt:hover {
	overflow: visible;
}

.hcaptcha-excerpt:hover .hcaptcha-hide {
	position: absolute;
	color: #f0f2f5;
	background: #5c6f8a;
	z-index: 1;
	display: block;
	max-width: 300px;
	width: max-content;
	padding: 8px 10px;
	top: 50%;
	inset-inline-start: 50%;
	transform: translate(-50%, -50%);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	border: 1px solid #c3c4c7;
	white-space: normal;
	text-align: center;
}

@media (max-width: 782px) {
	#hcaptcha-options .wp-list-table .toggle-row {
		top: 15px;
	}

	#hcaptcha-options .wp-list-table tr.is-expanded .toggle-row {
		top: 6.5px;
	}

	#hcaptcha-options .widefat tbody th.check-column {
		padding: 0;
		vertical-align: middle;
	}

	#hcaptcha-options .widefat thead td.check-column, .widefat tfoot td.check-column {
		padding-left: 0;
	}

	#hcaptcha-options .widefat th input[type="checkbox"] {
		margin-bottom: 0;
	}

	#hcaptcha-options .wp-list-table .is-expanded td:not(.hidden) {
		overflow: visible;
	}

	.hcaptcha-settings-tabs {
		margin: unset;
		margin-block-start: 10px;
		margin-inline-end: -12px;
		margin-block-end: 0;
		margin-inline-start: -10px;
		padding-block-start: 0;
		padding-inline-end: 12px;
		padding-block-end: 0;
		padding-inline-start: 10px;
	}

	.hcaptcha-excerpt {
		display: table-cell;
		vertical-align: middle;
		height: 44px;
	}

	tr.is-expanded .hcaptcha-excerpt {
		height: 19.5px;
	}
}

@media (max-width: 600px) {
	#hcaptcha-options table tbody {
		grid-template-columns: 1fr;
	}

	#hcaptcha-options table tbody tr {
		position: relative;
	}

	#hcaptcha-options fieldset + .helper::before {
		transform: translate(0, -0.7em);
	}

	#hcaptcha-options fieldset + .helper .helper-content {
		transform: translate(0, 25px);
		width: 100%;
	}

	#hcaptcha-options .helper {
		z-index: 1;
	}

	.hcaptcha-settings-tab {
		inset-inline-end: 15px;
	}
}
