name: Create zip file

on:
  push:
  workflow_dispatch:

jobs:
  build-zip:
    name: New zip file
    runs-on: ubuntu-latest

    if: >
      (github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[zip]'))

    env:
      SLUG: "hcaptcha-for-forms-and-more"

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install dependencies with caching
        uses: hCaptcha/composer-install@e52779489de843a9f022c7b8faa648b608b02c70
        with:
          composer-options: "--no-dev --optimize-autoloader --classmap-authoritative"

      - name: Install JS packages
        run: |
          corepack enable
          yarn set version stable
          yarn
          yarn prod

      - name: Get version from PHP file
        id: get_version
        shell: bash
        run: |
          VERSION=$(grep -oP "const HCAPTCHA_VERSION = '\K[^']+" hcaptcha.php)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create zip file
        id: make_zip
        shell: bash
        run: |
          echo "➤ Creating target directory..."
          mkdir -p trunk/${SLUG}
          echo "➤ Copying files..."
          rsync -rc --exclude-from="$GITHUB_WORKSPACE/.distignore" "$GITHUB_WORKSPACE/" trunk/${SLUG}/ --delete --delete-excluded
          echo "➤ Generating zip file..."
          cd trunk
          zip -r "${{ github.workspace }}/${{ env.SLUG }}.${{ env.VERSION }}.zip" .
          echo "zip-path=${GITHUB_WORKSPACE}/${SLUG}.${VERSION}.zip" >> "${GITHUB_OUTPUT}"
          echo "✓ Zip file generated!"

      - name: Create pre-release (published) and upload asset
        uses: hCaptcha/action-gh-release@ab50eebb6488051c6788d97fa95232267c6a4e23
        with:
          files: ${{ github.workspace }}/${{ env.SLUG }}.${{ env.VERSION }}.zip
          draft: false
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
